*{
    margin: 0;
    padding: 0;
    }
    body{
    background-image: url("/img/promissor.jpg") ;
    background-size: 1350px 650px; /* ajusta o tamanho da imagem */
    background-repeat: no-repeat; /* Para evitar a repetição da imagem */
    background-color: #131313;
    overflow: hidden;
    }

    .texto-container {
        width: 80%; /* Largura do container */
        margin: 50px auto; /* muda a altura do container na página */
        padding: 20px; /* Espaçamento interno do container */
        background-color: #1a1616ab; /* Cor de fundo do container */
        border: 1px solid #ccc; /* Borda do container */
        border-radius: 8px; /* Borda arredondada */
        overflow: hidden; /* Limpa o float */
    }

    .texto-container img {
            float: left; /* Flutua a imagem para a esquerda */
            margin-right: 20px; /* Espaço entre a imagem e o texto */
            border-radius: 8px;
        }

        .botao-personalizado {
            background-color: #1a1616ab; /* Verde */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 30px 200px;
            cursor: pointer;
            border-radius: 12px;
        }

        .botao-personalizado:hover {
            background-color: #1a1616ab;
        }
    
        .cavalo-move {
            position: relative; /* or absolute */
            left: 850px;  /* move 50px to the right */
            top: -50px;   /* move 20px down */
        }

        .vaca-move {
            position: relative; /* or absolute */
            left: 400px;  /* move 50px to the right */
            top: -30px;   /* move 20px down */
        }